body {
    background-color: grey;
}

.inviseble {
    display: none;

}

.loader {
    text-align: center;
    margin-top: 40px;
}

.error {
    margin-left: 40px;
    color: red;
}

.cat-info {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}